.App {
  background-color: #3a387a;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 14pt;
}

.App-header {
  margin-top: 60px;
  margin-bottom: 40px;
  padding: 0 40px 0;
  font-size: 30pt;
  font-weight: bold;
  color: #1bcbdd;
  background: linear-gradient(0deg,rgba(48,45,104,1) 50%,rgba(255,255,255,0) 50%);
}

.wrapper {
  text-align: right;
}

.Search input {
  border: 3px solid #00B4CC;
  padding: 8px 20px 8px 20px;
  height: 20px;
  border-radius: 8px;
  outline: none;
  color: #302d67;
  font-size: 12pt;
}

.Table {
  width: 1000px;
  margin: 25px 0;
  border-collapse: collapse;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.30);
  text-align: left;
  font-size: 12pt;
}

.Table thead tr {
  background-color: #1bcbdd;
  color: #ffffff;
  text-align: left;
  font-size: 13pt;
}

.Table th,
.Table td {
    padding: 12px 15px;
  }

.Table tbody tr {
  background-color: #f3f3f3;
  color: #302d67;
  border-bottom: 1px solid #dddddd;
}

.Table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.Table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.Table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}
